
/* sliding panel */
#toppanel {
  font: 13px/160% Arial, Tahoma, Helvetica, sans-serif;
  /*position: absolute;   Panel will overlap  content */
  position: relative;   /*Panel will "push" the content down */
  width: 100%;
  z-index: 999;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#toppanel-head {
  color: #ffffff;
  background: #313332 url(images/header_bg.png) repeat-x bottom;
  text-align: center;
  height: 28px;
}

#go-home {
  float: left;
  padding: 4px 0 0 32px;
  background: url(images/goadmin.png) no-repeat 6px 6px;
}

#go-home a, #admin-links a {
  color: #fff;
  text-decoration: none;
}

#go-home a:hover, #admin-links a:hover {
  text-decoration: underline;
}

#header-title {
  padding: 0;
  color: #a7a7a7;
}

#admin-links {
  color: #fff;
  float: right;
  padding: 0px;
  margin: 4px 10px 0 0;
}

#admin-links .user-name {
  font-weight: bold;
}

#admin-links .user-logout:hover {
  text-decoration: none;
}

#admin-links .user-logout span {
  visibility: hidden;
}

#panel {
  width: 100%;
  height: 300px;
  color: #999;
  background: #313332 url(images/panel/panel_content_bg.png);
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  z-index: 3;
  display: none;
}


#toggle, #toggle ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 160px;
}

#toggle li {
  float: none;
  margin: 0;
  padding: 0 0 0 5px;
  text-align: center;
}

#toggle a {
  float: none;
  display: block;
  padding: 5px 11px 1px 6px;
  text-decoration: none;
  font-weight: normal;
  color: #000;
}

#toggle li {
  background: url(images/panel/panel_left.png) no-repeat left top;
  position: relative;
  top: 0px;
}

#toggle li a {
  background: url(images/panel/panel_bg.png) no-repeat right top;
  color: #fff;
  padding: 0 0 3px 0;
}

#toggle li a .panel-open {
  background: url(images/panel/panel_open.png) no-repeat left top;
  padding-left: 20px;
}

#toggle li a .panel-close {
  background: url(images/panel/panel_close.png) no-repeat left top;
  padding-left: 20px;
}

/* regions in slider */
#slider-middle {
  padding-left: 210px;
  padding-right: 210px;
}

#slider-right {
  width: 210px;
  float: right;
}

#slider-left {
  width: 210px;
  float: left;
}
